<div class="page-container">
                <div class="fix-width">
                    <div class="page-have-sidebar">
                        <div class="page-wrap">
                            <div class="breadcumb">
                                <a class="home" href="#">
                                    <i class="fa fa-home">
                                    </i>
                                    Trang chủ
                                </a>
                                <span class="sep">
                                </span>
                                <a href="#">
                                   Thông báo
                                </a>
                                <div class="clear">
                                </div>
                            </div>
                            <h3 class="text-center">
                                Thông báo
                            </h3>
                            <div class="text-center">
                                <%- message %>
                            </div>
                        </div>
                        <!--
                        <div class="sidebar">
                            <div class="sidebar-widget menu-widget">
                                <div class="widgettitle">
                                    <h3>
                                       Quản lí tài khoản
                                    </h3>
                                </div>
                                <div class="widgetcontent">
                                    <ul>
                                        <li>
                                            <a href="">
                                                Thay đổi thông tin cá nhân
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Thay đổi mật khẩu
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                        -->
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>