<div ng-controller="typesCtrl">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <button aria-expanded="false" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" type="button">
                    Cài đặt
                    <span class="m-l-5">
                        <i class="fa fa-cog">
                        </i>
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">
                            Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Something else here
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">
                            Separated link
                        </a>
                    </li>
                </ul>
            </div>
            <h4 class="page-title">
                Quản lý Loại tin và danh mục tin
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <div class="row">
                    <form class="form-horizontal" method="post" ng-submit="createType(type)">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Tên loại tin
                            </label>
                            <div class="col-md-10">
                                <input class="form-control" ng-model="type.name" type="text" required="">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" type="submit">
                                    Thêm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-box">
                <div class="row">
                    <form class="form-horizontal" method="post" ng-submit="createCate(cate)">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Loại tin
                            </label>
                            <div class="col-md-10">
                                <select ng-model="cate.tid" class="form-control">
                                    <option value="">---Chọn loại tin---</option>
                                    <option ng-repeat="data in datas" value="{{data.type._id}}">{{data.type.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Tên danh mục
                            </label>
                            <div class="col-md-10">
                                <input class="form-control" ng-model="cate.name" type="text" required="">
                                </input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" type="submit">
                                    Thêm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-box table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Tên loại tin</th>
                            <th>Tên danh mục</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in datas">
                            <td>{{data.type.name}}</td>
                            <td>
                                <a class="label label-danger a-cate" ng-repeat="cate in data.cates" ng-click="deleteCate(cate._id)" id="cate-{{cate._id}}"><i class="fa fa-close"></i> {{cate.name}}</a> 
                            </td>
                            <td><a class="label label-danger" ng-click="deleteType(data.type._id)">xóa</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
